@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-border: var(--border);
  --color-muted: var(--muted);
}

:root {
  --background: #f1f1f1;
  --foreground: #171717;
  --border: #171717;
  --text: #171717;
  --muted: rgba(107, 183, 211, 0.7);
}

.dark {
  --background: #171717;
  --foreground: #f1f1f1;
  --border: #f1f1f1;
  --text: #f1f1f1;
  --muted: #383838;
}
