@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-text: var(--text);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-accent-dim: var(--accent-dim);
  --color-accent-secondary: var(--accent-secondary);
  --color-card: var(--card);
  --color-card-transparent: var(--card-transparent);
  --color-text-white: var(--text-white);
  --bg: var(--background-gradient);
  --animate-shineDiagonal: shineDiagonal 1s linear forwards;
}

:root {
  --background: #e7dede;
  --foreground: hsla(0, 0%, 88%);
  --foreground-secondary: hsla(0, 0%, 86%, 0.8);
  --border: rgba(107, 183, 211, 0.6);
  --text: #313131;
  --text-white: #dfdede;
  --muted: rgba(107, 183, 211, 0.7);
  --accent: rgb(56, 138, 168);
  --accent-dim: rgba(107, 183, 211, 0.6);
  --accent-secondary: rgba(250, 250, 250, 0.4);
  --card: rgb(212, 212, 212);
  --card-transparent: rgba(55, 73, 92, 0.4);
  --background-gradient: linear-gradient(
    to bottom,
    hsla(198, 52%, 63%, 0.8),
    hsla(197, 52%, 63%, 0.8) 6%,
    hsla(196, 54%, 62%, 0.8) 34%,
    hsla(196, 54%, 62%, 0.8) 67%,
    hsla(196, 54%, 62%, 0.8)
  );
}

.dark {
  --background: #171717;
  --foreground: #292929;
  --foreground-secondary: #2e2e2e;
  --border: rgba(107, 183, 211, 0.2);
  --text: #dfdede;
  --text-white: #dfdede;
  --muted: #383838;
  --accent: rgba(107, 183, 211, 0.8);
  --accent-dim: rgba(31, 90, 110, 0.8);
  --accent-secondary: rgba(31, 90, 110, 0.8);
  --card: rgba(51, 51, 51, 0.8);
  --card-transparent: rgba(87, 87, 87, 0.4);
  --background-gradient: linear-gradient(to bottom, #222222, #222222);
}

.main {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  background: var(--background-gradient);
  min-height: 100dvh;
}

@media only screen and (max-width: 768px) {
  .main {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.8rem;
  }
}

@keyframes shineDiagonal {
  0% {
    transform: translate(-100%, -100%) rotate(12deg);
  }
  100% {
    transform: translate(100%, 100%) rotate(12deg);
  }
}
