@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-text: var(--text);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-accent-dim: var(--accent-dim);
  --color-accent-secondary: var(--accent-secondary);
  --color-card: var(--card);
  --color-card-transparent: var(--card-transparent);
  --color-text-white: var(--text-white);
  --color-text-white-transparent: var(--text-white-transparent);
  --bg: var(--background-gradient);
  --animate-shineDiagonal: shineDiagonal 1s linear forwards;
  --color-header-background: var(--header-background);
}

:root {
  --background: hsl(0, 16%, 89%);
  --foreground: hsl(10, 0%, 88%);
  --foreground-secondary: hsla(0, 0%, 86%, 0.8);
  --border: hsla(196, 54%, 62%, 0.6);
  --text: hsl(0, 0%, 19%);
  --text-white: hsl(0, 2%, 87%);
  --text-white-transparent: hsla(0, 2%, 87%, 0.6);
  --muted: hsla(196, 54%, 62%, 0.7);
  --accent: hsl(196, 50%, 44%);
  --accent-dim: hsla(196, 54%, 62%, 0.6);
  --accent-secondary: hsla(0, 0%, 98%, 0.4);
  --card: hsl(0, 0%, 83%);
  --card-transparent: hsla(211, 25%, 29%, 0.4);
  --background-gradient: linear-gradient(
    to bottom,
    hsla(198, 52%, 63%, 0.8),
    hsla(197, 52%, 63%, 0.8) 6%,
    hsla(196, 54%, 62%, 0.8) 34%,
    hsla(196, 54%, 62%, 0.8) 67%,
    hsla(196, 54%, 62%, 0.8)
  );
  --header-background: hsla(195, 56%, 28%, 0.8);
}

.dark {
  --background: hsl(0, 0%, 9%);
  --foreground: hsl(0, 0%, 16%);
  --foreground-secondary: hsl(0, 0%, 18%);
  --border: hsla(196, 54%, 62%, 0.2);
  --text: hsl(0, 2%, 87%);
  --text-white: hsl(0, 2%, 87%);
  --text-white-transparent: hsla(0, 2%, 87%, 0.6);
  --muted: hsl(0, 0%, 22%);
  --accent: hsla(196, 54%, 62%, 0.8);
  --accent-dim: hsla(195, 56%, 28%, 0.8);
  --accent-secondary: hsla(195, 56%, 28%, 0.8);
  --card: hsla(0, 0%, 20%, 0.8);
  --card-transparent: hsla(0, 0%, 34%, 0.4);
  --background-gradient: linear-gradient(
    to bottom,
    hsl(0, 0%, 13%),
    hsl(0, 0%, 13%)
  );
  --header-background: hsla(195, 56%, 28%, 0.8);
}

.main {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  background: var(--background-gradient);
  min-height: 100dvh;
}

@media only screen and (max-width: 768px) {
  .main {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.8rem;
  }
}

@keyframes shineDiagonal {
  0% {
    transform: translate(-100%, -100%) rotate(12deg);
  }
  100% {
    transform: translate(100%, 100%) rotate(12deg);
  }
}
