@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --breakpoint-xxxs: 20rem;
  --breakpoint-xxs: 22rem;
  --breakpoint-xs: 24rem;
  --breakpoint-mobile-horizon: 480px;
  --breakpoint-tablet-xs: 768px;
  --breakpoint-tablet-sm: 820px;
  --breakpoint-tablet: 1024px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-text: var(--text);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-accent-dim: var(--accent-dim);
  --color-accent-secondary: var(--accent-secondary);
  --color-accent-dark: var(--accent-dark);
  --color-card: var(--card);
  --color-card-transparent: var(--card-transparent);
  --color-text-white: var(--text-white);
  --color-text-white-transparent: var(--text-white-transparent);
  --color-background-paypal: var(--background-paypal);
  --bg: var(--background-gradient);
  --animate-shineDiagonal: shineDiagonal 1s linear forwards;
  --color-header-background: var(--header-background);
  --color-footer: var(--footer);
}

:root {
  --vh: 1vh;
  --background: oklch(90.91% 0.0098 17.34);
  --foreground: oklch(90.79% 0 0);
  --foreground-secondary: oklch(89.23% 0 0 / 0.8);
  --border: oklch(73.88% 0.0859 223.62 / 0.6);
  --text: oklch(9.7% 0.0286 24.16);
  --text-white: oklch(89.92% 0.0014 17.19);
  --text-white-transparent: oklch(89.92% 0.0014 17.19 / 0.6);
  --muted: oklch(73.88% 0.0859 223.62 / 0.7);
  --accent: oklch(59.71% 0.0906 225.51);
  --accent-dim: oklch(73.88% 0.0859 223.62 / 0.6);
  --accent-secondary: oklch(28.744% 0.00343 229.279 / 0.4);
  --accent-dark: oklch(27.59% 0.0374 221.8);
  --card: oklch(86.89% 0 0);
  --card-transparent: oklch(39.95% 0.0396 250.51 / 0.4);
  --background-paypal: oklch(82.796% 0.16668 108.423 / 0.9);
  --background-gradient: oklch(72.292% 0.06923 220.696 / 0.8);
  --header-background: oklch(44.32% 0.0686 223.83 / 1);
  --footer: oklch(44.32% 0.0686 223.83 / 0.8);
}

.dark {
  --background: oklch(20.44% 0 0);
  --foreground: oklch(33.11% 0 0);
  --foreground-secondary: oklch(30.08% 0 0);
  --border: oklch(73.88% 0.0859 223.62 / 0.2);
  --text: oklch(89.92% 0.0014 17.19);
  --text-white: oklch(89.92% 0.0014 17.19);
  --text-white-transparent: oklch(89.92% 0.0014 17.19 / 0.6);
  --muted: oklch(34.11% 0 0);
  --accent: oklch(73.88% 0.0859 223.62 / 0.8);
  --accent-dim: oklch(44.32% 0.0686 223.83 / 0.8);
  --accent-secondary: oklch(28.744% 0.00343 229.279 / 0.4);

  --accent-dark: oklch(73.88% 0.0859 223.62 / 0.8);
  --card: oklch(32.11% 0 0 / 0.8);
  --card-transparent: oklch(45.57% 0 0 / 0.4);
  --background-gradient: linear-gradient(
    to bottom,
    oklch(24.84% 0 0),
    oklch(24.84% 0 0)
  );
  --header-background: oklch(44.32% 0.0686 223.83 / 1);
  --footer: oklch(28.01% 0 0);
}

html,
body {
  scroll-behavior: smooth;
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
  background: var(--background-gradient);
}
@keyframes shineDiagonal {
  0% {
    transform: translate(-100%, -100%) rotate(12deg);
  }
  100% {
    transform: translate(100%, 100%) rotate(12deg);
  }
}

.weather-icon {
  filter: brightness(0);
}

.dark .weather-icon {
  filter: brightness(0) invert(1);
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

@keyframes marquee {
  0% {
    transform: "translateX(0%)";
  }
  100% {
    transform: "translateX(-50%)";
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes floatBubble {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
.animate-bubble {
  animation: floatBubble 4s ease-in-out infinite;
}

.animate-fade-in {
  animation: fade-in 1.6s ease-out forwards;
}

.animation-delay-0 {
  animation-delay: 0s;
}

.animation-delay-02 {
  animation-delay: 0.2s;
}

.animation-delay-04 {
  animation-delay: 0.4s;
}

.animation-delay-08 {
  animation-delay: 0.8s;
}

.animation-delay-12 {
  animation-delay: 1.2s;
}
.animation-delay-16 {
  animation-delay: 1.6s;
}

@media (orientation: landscape) and (min-width: 480px) and (max-width: 968px) and (max-height: 600px) {
  .landscapeScreen {
    height: 88svh;
  }
  .landscapeView {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .landscapeCard {
    max-width: 200px;
    max-height: 200px;
  }
  .landscapeCardContainer {
    width: 1/2;
  }
  .landscapeFont {
    font-size: x-large;
  }
  .landscape-flex {
    display: flex;
  }
  .landscape-hidden {
    display: none;
  }
  .landscape-top-25 {
    top: 25%;
  }
  .landscape-no-margin {
    margin-top: 0;
  }
  .landscape-py-8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .landscape-justify-around {
    justify-content: space-around;
  }
}
